.ye{
margin-top: 60px;

}
#alert alert-dark{
    margin-left: 60px;
}
.FL{
display: inline-block;

}
.FC {

width: 1000px;
height: auto;
background-color: blueviolet;

}
.AR{
    margin-top: 35px;
}

.tt{

display: flex;
flex-direction: row;
justify-content: space-between;

}

.ttr{

display: flex;
flex-direction: row;
justify-content: space-around;
}
.ttc{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
.vert{

display: block;


}
a{
text-decoration: none;
}